{% extends 'base.html' %}

{% block title%}
Регистрация
{% endblock %}

{%block a4%} "nav-link active"{%endblock%}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница регистрации пользователя</span>
      </div>
    </div>
  </div>
    <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}" class="col-sm-4 col-form-label offset-4">Пользователь:</label>
            <input name="username" type="text" class="form-control form-control-lg" id='{{ form.username }}'
        </div>
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}" class="col-sm-4 col-form-label offset-4">Имя:</label>
            <input name="name" class="form-control form-control-lg" id='{{ form.name }}'
        </div>
        <div class="fieldWrapper">
            {{ form.surname.errors }}
            <label for="{{ form.surname.id_for_label }}" class="col-sm-4 col-form-label offset-4">Фамилия:</label>
            <input name="surname" class="form-control form-control-lg" id='{{ form.surname }}'
        </div>
        <div class="fieldWrapper">
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}" class="col-sm-4 col-form-label offset-4">Пароль:</label>
            <input name="password1" type="password" class="form-control form-control-lg" id='{{ form.password1 }}'

        </div>
         <div class="fieldWrapper">
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}" class="col-sm-4 col-form-label offset-4">Повторите пароль:</label>
            <input name="password2" type="password" class="form-control form-control-lg" id='{{ form.password2 }}'
         </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
