h1 {
    background : red;
}

.paragraf-1 {
    background : blue;
    fonr-size: 32 pt;
    color: red;
}

.paragraf-2 {
    border: 5px solid red;
    border-radius: 10px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    font-size:24pt;
}

.paragraf-3 {
    font-size:22pt;
    font-weight: bold;
    font-family: Courier New;
}
